* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-background: #f4f4f42d;
    --second-background: #4b406ba0;
    --background-address: rgb(1, 1, 69);
    --color-placeholder: #ccc;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 2800px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 390px;
    background: var(--primary-background);
}
.header {
    display: flex;
    width: 100%;
    gap: 50px;
    padding: 30px 20px 20px 20px;
    justify-content: center;
    align-items: center;
}
.header-menu {
    display: flex;
    cursor: pointer;
    gap: 30px;
}
.header-logo img {
    width: 90px;
    height: 30px;
}
.location {
    display: flex;
    width: 390px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.location-img img {
    width: 340px;
    height: 300px;
}
.location-files {
    margin: 20px 0px;
}
.location-files h1{
    display: flex;
    text-align: center;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: bold;
    width: 340px;
}
.location-stores {
    margin: 20px 0px;
}
.location-stores span{
    display: flex;
    text-align: center;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: regular;
    width: 340px;
}
.location-input input{
    width: 340px;
    height: 40px;
    margin-bottom: 20px;
}
.location-input input::placeholder{
    padding-left: 20px;
    color: var(--color-placeholder);
}
.location-get-started {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    margin: 0px 0px 100px 5px;
    background: blue;
    width: 340px;
    height: 40px;
}
.location-get-started h1 {
   color: #fff;
   font-family: "Roboto", sans-serif;
   font-size: 18px;
   font-weight: regular;
}
.stay-img img {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 30px;
    width: 340px;
    height: 300px;
}
.stay-container h1 {
    display: flex;
    text-align: center;
    padding-left: 60px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: regular;
    width: 340px;
}
.stay-container p {
    display: flex;
    text-align: center;
    margin-top: 20px;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: regular;
    width: 360px;
}
.stay-works {
    display: flex;
    justify-content: center;
    color: green;
    gap: 10px;
    text-align: center;
    margin: 30px 0px;
    text-decoration: underline;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: regular;
    width: 360px;
}
.stay-ceo {
    display: flex;
    justify-content: center;
    text-align: start;
    margin-left: 40px;
    padding: 30px;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 5px 15px #a8a7a709;
    width: 300px;
    height: 200px;
    margin-bottom: 100px;
}
.stay-ceo p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: regular;
}
.stay-ceo img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.stay-ceo-avatar {
    margin: 30px 0px 0px 0px;
    display: flex;
    gap: 10px;
}
.stay-ceo-avatar h2 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: regular;
}
.stay-ceo-avatar span {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: regular;
}
.getfree {
display: flex;
padding-top: 40px;
background: var(--second-background);
flex-direction: column;
justify-content: center;
align-items: center;
}
.getfree h1{
    display: flex;
    text-align: center;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: regular;
}
.getfree-stores {
    margin: 20px 0px;
}
.getfree-stores span{
    display: flex;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: regular;
    width: 270px;
}
.getfree input{
    width: 340px;
    height: 40px;
    margin-bottom: 20px;
}
.getfree input::placeholder{
    padding-left: 20px;
    color: var(--color-placeholder);
}
.getfree-getstarted {
    display: flex;
    justify-content: center;
   cursor: pointer;
    align-items: center;
    margin: 0px 0px 90px 5px;
    background: blue;
    width: 340px;
    height: 40px;
}
.getfree-getstarted h1 {
   color: #fff;
   font-family: "Roboto", sans-serif;
   font-size: 14px;
   font-weight: regular;
}
.fylo-address {
    padding: 50px 40px;
    background: var(--background-address);
}
.fylo-address-title img {
    margin-bottom: 30px;
}
.fylo-address-phone {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}
.fylo-address-phone span {
   color: #fff;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: regular;
}
.fylo-address-email {
    display: flex;
    gap: 16px;
    margin-bottom: 60px;
}
.fylo-address-email span {
   color: #fff;
   font-family: "Roboto", sans-serif;
   font-size: 16px;
   font-weight: regular;
}
.fylo-address-about li {
    margin-bottom: 20px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: regular;
    cursor: pointer;
}
.fylo-address-about a:hover {
    color: blue;
    cursor: pointer;
}
.fylo-address-about a {
    text-decoration: none;
    color: #fff;
}
.fylo-address-contact {
    margin-top: 60px;
}
.fylo-address-contact li {
    margin-bottom: 20px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: regular;
}
.fylo-address-contact a:hover {
    color: blue;
    cursor: pointer;
}
.fylo-address-contact a {
    text-decoration: none;
    color: #fff;
}
.fylo-address-rede {
    margin-top: 60px;
}
.fylo-address-rede ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #d9d3d3;
}
.fylo-address-rede a {
    color: #fff;
}
.fylo-address-rede a:hover {
    font-size: 24px;
}
@media (min-width: 399px) and (max-width: 1440px) {
    .container {
        display: flex;
        width: 1440px;
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 80px;
    }
    .header-logo img {
        width: 100%;
    }
    .location {
        display: flex;
        flex-direction: row;
        flex-direction: row-reverse;
        align-items: center;
        width: 1430px;
    }
    .location-files h1{
        text-align: start;
        padding-left: 0px;
        width: 50%;
    }
    .location-img img {
        width: 100%;
    }
    .location-desktop {
        width: 800px;
    }
}
